[submodule "Youtube_Video_Downloder"]
	path = Youtube_Video_Downloder
	url = https://github.com/Sakthiadhavan/Youtube_Vedio_Downloder.git
[submodule "quiz-game"]
	path = quiz-game
	url = https://github.com/Sakthiadhavan/quiz-game.git
[submodule "Elective_And_Faculty_Picker-Hackathon-"]
	path = Elective_And_Faculty_Picker-Hackathon-
	url = https://github.com/Sakthiadhavan/elective-and-faculty-picker2.git
