[submodule "Youtube_Video_Downloder"]
	path = Youtube_Video_Downloder
	url = https://github.com/Sakthiadhavan/Youtube_Vedio_Downloder.git
[submodule "quiz-game"]
	path = quiz-game
	url = https://github.com/Sakthiadhavan/quiz-game.git
[submodule "Elective_And_Faculty_Picker-Hackathon-"]
	path = Elective_And_Faculty_Picker-Hackathon-
	url = https://github.com/Sakthiadhavan/elective-and-faculty-picker2.git
[submodule "tic-toe-game"]
	path = tic-toe-game
	url = https://github.com/Sakthiadhavan/tic-toe-game.git
[submodule "e-commrce"]
	path = e-commrce
	url = https://github.com/Sakthiadhavan/e-commrce.git
